{{ define "main" }}
<h1>{{ .Title }}</h1>
{{- if eq .Type "post" -}}
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}
<content>
  {{ .Content }}
</content>
{{- if eq .Type "post" -}}
    <p>{{ partial "reply-by-email.html" . }}</p>
  {{- if gt .Date.Unix 1679470620 -}}
    <p>{{- partial "conversation-link.html" . -}}</p>
  {{- else -}}
    <p>{{- partial "conversation-link-legacy.html" . -}}</p>
  {{- end -}}
{{- end -}}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
