{{- $url := $.Site.Params.custom_hyperlinks_feed -}}
{{- $rss := "" -}}
{{- with resources.GetRemote $url -}}
  {{- with .Err -}}
    <pre>Oh, no, fetching of the links failed. Sorry. ¯\_(ツ)_/¯</pre>
  {{- else -}}
    {{- $rss = . | transform.Unmarshal -}}
    Last updated {{ now | dateFormat "January 2, 2006" }}.

    <ul>
      {{- range $rss.channel.item -}}
        {{- $url := urls.Parse (index .source "-url") -}}
        <li>
          <a href="{{- $url -}}">{{- .title | htmlUnescape -}}</a><br>
          <small>{{- strings.TrimPrefix "www." $url.Hostname -}}</small>
        </li>
      {{- end -}}
    </ul>
  {{- end -}}
{{- else -}}
  <pre>Oh, no, fetching of the links failed. Sorry. ¯\_(ツ)_/¯</pre>
{{- end -}}
