{{- $url := $.Site.Params.custom_hyperlinks_feed -}}
{{- $rss := "" -}}
{{- with resources.GetRemote $url -}}
  {{- with .Err -}}
    {{- errorf "%s" . -}}
  {{- else -}}
    {{- $rss = . | transform.Unmarshal -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Unable to get remote resource %q" $url -}}
{{- end -}}

Last updated {{ now | dateFormat "January 2, 2006" }}.

<ul>
  {{- range $rss.channel.item -}}
    {{- $url := urls.Parse .link -}}
    <li>
      <a href="{{- .link -}}">{{- .title | htmlUnescape -}}</a><br>
      <small>{{- $url.Hostname -}}</small>
    </li>
  {{- end -}}
</ul>
